/*TO DO
    - picture
    - background
    - button style
    -input style

*/
body {
    /*applies to the body*/
    font: 10pt Verdana, Geneva, sans-serif;
    color: black;
    font-size: 16pt;
}

h2 {
    /*applies to the header h1 */
    color: white;
    font-variant: small-caps;
    font-weight: bold;
}

html {
    /*applies to all*/
    background-color: red;
    background-image: url("chicken.jpg");
    font: 10pt Verdana, Geneva, sans-serif;
    font-weight: bold;
}

#submit {
    background-image: radial-gradient(yellow, brown);
}

p {
    color: orange;
}

#results {
    animation-name: results;
    animation-delay: 5s;
    animation-duration: 2s;
}

button {
    height: 20%;
    width: 20%;
    left: 40%;
    font-size: 20pt;
 }